
<div class="container col-md-12 center-block">
 <div class="row">
	<div class="col-md-4 portfolio-block">
		<h1>Cools</h1>
		<a href="http://cools.com/">
			<%= image_tag "cools.png", :class => "col-xs-12"%>
		</a>
		<h4>Front-end Javascript</h4>
	</div>
	<div class="col-md-4 portfolio-block">
		<h1>Puckermob</h1>
		<a href="http://www.puckermob.com/">
			<%= image_tag "puckermob.png", :class => "col-xs-12"%>
		</a>
		
		<h4>Front-end/Full-Stack Javascript/PHP</h4>
	</div>
	<div class="col-md-4 portfolio-block"  >
		<h1>Votester</h1>
		<a href="https://votester.herokuapp.com/">
			<%= image_tag "votester.png", :class => "col-xs-12"%>
		</a>
		
		<h4>Full-Stack Ruby MVP</h4>
	</div>
	<div class="row">
	<div class="col-md-4 portfolio-block">
		<h1>Youtube Search</h1>
		<a href="http://fuzzy-believe.surge.sh/">
			<%= image_tag "youtubereact.png", :class => "col-xs-12"%>
		</a>
		<h4>React/Redux/Webpack</h4>
	</div>
	<div class="col-md-4 portfolio-block">
		<h1>True or False </h1>
		<a href="http://truefalse.herokuapp.com/">
			<%= image_tag "backbonegame.png", :class => "col-xs-12"%>
		</a>
		
		<h4>Backbone JS</h4>
	</div>
	<div class="col-md-4 portfolio-block"  >
		<h1>Social Network</h1>
		<a href="http://gotham.herokuapp.com/">
			<%= image_tag "gotham.png", :class => "col-xs-12"%>
		</a>
		
		<h4>Ruby on Rails</h4>
	</div>
 </div>
</div>
