<style>
	p {
		margin-top:20px !important;
		padding: 5px;
	}
</style>


<div class="port-header">

	
	<h1 class="port-text">Portfolio</h1>
	
</div>



<div class="container col-md-12">

	

 <div class="row port-row" style="margin-top:20px;">

	<div class="col-md-4 port-box">
		<h1>Algorithm Visualization</h1>
		<h4>React - ES6 - D3 - Node</h4>
		<a href="https://github.com/PalermoD/algorithm-viz">
			<%= image_tag "algo.jpg", :class => "img-responsive port-img"%>
		</a>
		<p>
				This is a React and D3 app that I'm currently working on. Its far from finished, but I like putting up stuff that I'm currently working on and I'll share the link when it's done. In the mean time check out the source code on my github  
		</p>
		
	</div>

	<div class="col-md-4 port-box">
		<h1>US Airport Nauticle Miles Calculator</h1>
		<h4>Javascript - jquery - Node</h4>
		<a href="https://mighty-anchorage-16808.herokuapp.com/">
			<%= image_tag "maps.png", :class => "img-responsive port-img"%>
		</a>
		<p>
				This is a javascript app that is using a node server and calls on a simple 
				api that has U.S. airport data in it. It allows you to seach any two airports in the U.S. with autocomplete and plots them on a map with route, while caculating the Nauticle miles between them
		</p>
		
	</div>
	   
	<div class="col-md-4 port-box">
		<h1>Cools</h1>
		<h4>Javascript - Angular - Node</h4>
		<a href="http://cools.com/">
			<%= image_tag "cools.png", :class => "img-responsive port-img"%>
		</a>
		<p>
		  Cools is a fasion e-comerce site that I did freelance work for on the front-end.
		  Built responsive web pages with twitter bootstrap, html. and sass. Structured handlebar templates and managed Angular client side code on the front end.
		</p>
	</div>
  
</div>


<div class="row port-row" style="margin-top:20px;">

	<div class="col-md-4 port-box">
		<h1>Youtube Search</h1>
		<h4>React - Redux - Webpack</h4>
		<a href="http://fuzzy-believe.surge.sh/">
			<%= image_tag "youtubereact.png", :class => "img-responsive port-img"%>
		</a>
		<p>
			This was a side project using youtube-api and react.js. Configured webpack, 
			built react componets to do search and play videos.  
		</p>
	</div>

	<div class="col-md-4 port-box">
		<h1>True or False </h1>
		<h4>Backbone - Sinatra</h4>
		<a href="http://truefalse.herokuapp.com/">
			<%= image_tag "backbonegame.png", :class => "img-responsive port-img"%>
		</a>
		<p>
				This is a javascript app that is using a sinatra back end and calls on a simple api I built with true and false statements. The front-end is built using a javascript client-side framwork called backbone.js
		</p>
	</div>

	<div class="col-md-4 port-box">
		<h1>Gotham24</h1>
		<h4>Ruby on Rails - Postgresql - rspec</h4>
		<a href="http://gotham.herokuapp.com/">
			<%= image_tag "gotham.png", :class => "img-responsive port-img"%>
		</a>
		<p>
				This is a social network/twitter clone built in Rouby on Rails. The app allows 
				for users to register share pictures, posts, and follow other users. The front-end is built with bootstrap and sass, the databse is postgres and is hosted on heroku.
		</p>
    </div>

</div>


<div class="row port-row" style="margin-top:20px;">
	
	

	<div class="col-md-4 port-box">
		<h1>Dezzmo</h1>
		<h4>Ruby on Rails - Postgresql</h4>
		<a href="http://www.dezzmo.com">
			<%= image_tag "dezzmo.png", :class => "img-responsive port-img"%>
		</a>
		<p>
			Dezzmo is a startup I founded In San Francisco, which is a linkedin for creative professionals. It allows users to create online portfolios, follow each other, and comment on each others work. Built in Rails and postgresql. 
		</p>
	</div>
	
	<div class="col-md-4 port-box">
		<h1>Soulster</h1>
		<h4>Ruby on Rails - Postgresql</h4>
		<a href="https://github.com/PalermoD/soulster_mvp">
			<%= image_tag "soulster.png", :class => "img-responsive port-img"%>
		</a>
		<p>
			Soulster is another side project that allows users to create their own social networks about what ever topics they like. Built in Rails and postgresql.
		</p>
	</div>

	

	<div class="col-md-4 port-box" >
		<h1>Puckermob</h1>
		<h4>PHP - Javascript - React - Mysql</h4>
		<a href="http://www.puckermob.com/">
			<%= image_tag "puckermob.png", :class => "img-responsive port-img"%>
		</a>
		<p>
		   Puckermob is an online web publisher that went through an entire rebuild
		   in lavavel. I worked through out the stack as well as optimized and manged 
		   servers. Built responsive web pages with twitter bootstrap, html. sass. Implimented 
		   react components, ui elements, and ajax calls on the front-end.
		</p>
	</div>

</div>

</div>










