<body class="index-body">
<div class="container col-md-12 center-block">
 <div class="row">
	<div class="col-md-4 portfolio-block">
		<h1>Cools</h1>
		<h4>Javascript - Backbone - Node</h4>
		<a href="http://cools.com/">
			<%= image_tag "cools.png", :class => "col-xs-12"%>
		</a>
		
	</div>
	<div class="col-md-4 portfolio-block">
		<h1>Puckermob</h1>
		<h4>PHP - Javascript - React - Mysql</h4>
		<a href="http://www.puckermob.com/">
			<%= image_tag "puckermob.png", :class => "col-xs-12"%>
		</a>
		
		
	</div>
	<div class="col-md-4 portfolio-block"  >
		<h1>Dezzmo</h1>
		<h4>Full-Stack Ruby on Rails</h4>
		<a href="http://www.dezzmo.com">
			<%= image_tag "dezzmo.png", :class => "col-xs-12"%>
		</a>
		
		
	</div>
	<div class="row">
	<div class="col-md-4 portfolio-block">
		<h1>Youtube Search</h1>
		<h4>React - Redux - Webpack</h4>
		<a href="http://fuzzy-believe.surge.sh/">
			<%= image_tag "youtubereact.png", :class => "col-xs-12"%>
		</a>
		
	</div>
	<div class="col-md-4 portfolio-block">
		<h1>True or False </h1>
		<h4>Backbone JS</h4>
		<a href="http://truefalse.herokuapp.com/">
			<%= image_tag "backbonegame.png", :class => "col-xs-12"%>
		</a>
		
		
	</div>
	<div class="col-md-4 portfolio-block"  >
		<h1>Social Network</h1>
		<h4>Full Stack Ruby on Rails</h4>
		<a href="http://gotham.herokuapp.com/">
			<%= image_tag "gotham.png", :class => "col-xs-12"%>
		</a>
		
		
	</div>
 </div>
</div>
</body>