

<div class="container col-md-12 center-block">
	

 <div class="row port-row" style="margin-top:20px;">
 	<div class="col-md-4 portfolio-block">
		<h1>US Airport Nauticle Miles Calculator</h1>
		<h4>Javascript - jquery - Node</h4>
		<a href="https://mighty-anchorage-16808.herokuapp.com/">
			<%= image_tag "maps.png", :class => "col-xs-12 port-img"%>
		</a>
		
		
		<!-- <h4>Built responsive web pages with twitter bootstrap, html. and sass. Structured handlebar templates and managed Angular client side code on the front end.</h4> -->
	</div>
	<div class="col-md-4 portfolio-block">
		<h1>Cools</h1>
		<h4>Javascript - Angular - Node</h4>
		<a href="http://cools.com/">
			<%= image_tag "cools.png", :class => "col-xs-12 port-img"%>
		</a>
		
		
		<!-- <h4>Built responsive web pages with twitter bootstrap, html. and sass. Structured handlebar templates and managed Angular client side code on the front end.</h4> -->
	</div>
	<div class="col-md-4 portfolio-block" >
		<h1>Puckermob</h1>
		<h4>PHP - Javascript - React - Mysql</h4>
		<a href="http://www.puckermob.com/">
			<%= image_tag "puckermob.png", :class => "col-xs-12 port-img"%>
		</a>
		
		
		<!-- <h4>
			Built responsive web pages and react components. 
            Built and managed virtual servers hosted on digital ocean transitioning app from dedicated server.
            Managed mysql database and transition into a new code base.
            Implemented redis for caching static files. 
        </h4> -->
		
	</div>
	
 </div>

 <div class="row port-row" style="margin-top:20px;">
	<div class="col-md-4 portfolio-block">
		<h1>Youtube Search</h1>
		<h4>React - Redux - Webpack</h4>
		<a href="http://fuzzy-believe.surge.sh/">
			<%= image_tag "youtubereact.png", :class => "col-xs-12 port-img"%>
		</a>
		
		
		<!-- <h4>Built react components, configured webpack, and called on Google Youtube API for data. This was a fun side project as I built this in pure Javascript a few months ago and wanted to rebuild it in react</h4> -->
	</div>
	<div class="col-md-4 portfolio-block">
		<h1>True or False </h1>
		<h4>Backbone - Sinatra</h4>
		<a href="http://truefalse.herokuapp.com/">
			<%= image_tag "backbonegame.png", :class => "col-xs-12 port-img"%>
		</a>
		  
		  <!-- <h4>Simple true or false trivia game built with Backbone JS. This was a project I worked on while attending General Assembly in New York</h4> -->
	   
		
		
	</div>
	<div class="col-md-4 portfolio-block">
		<h1>Gotham24</h1>
		<h4>Ruby on Rails - Postgresql - rspec</h4>
		<a href="http://gotham.herokuapp.com/">
			<%= image_tag "gotham.png", :class => "col-xs-12 port-img"%>
		</a>
		
		<!-- <h4>Final Project at General Assembly. This is pretty much a twitter clone with a hand built auth system, posts, and the ability to follow other users to populate a newsfeed</h4> -->
		
	</div>

	 <div class="row port-row" style="margin-top:20px;">
	
	<div class="col-md-4 portfolio-block" >
		<h1>Puckermob</h1>
		<h4>PHP - Javascript - React - Mysql</h4>
		<a href="http://www.puckermob.com/">
			<%= image_tag "puckermob.png", :class => "col-xs-12 port-img"%>
		</a>
		
		
		<!-- <h4>
			Built responsive web pages and react components. 
            Built and managed virtual servers hosted on digital ocean transitioning app from dedicated server.
            Managed mysql database and transition into a new code base.
            Implemented redis for caching static files. 
        </h4> -->
		
	</div>
	<div class="col-md-4 portfolio-block">
		<h1>Dezzmo</h1>
		<h4>Ruby on Rails - Postgresql</h4>
		<a href="http://www.dezzmo.com">
			<%= image_tag "dezzmo.png", :class => "col-xs-12 port-img"%>
		</a>
		
	
		<!-- <h4>
			The network for your creative identity · Raised money, designed the UI and the application. Managed the development team, conducted interviews and successfully launched an MVP.
		</h4> -->
	</div>
	<div class="col-md-4 portfolio-block">
		<h1>Soulster</h1>
		<h4>Ruby on Rails - Postgresql</h4>
		<a href="https://github.com/PalermoD/soulster_mvp">
			<%= image_tag "soulster.png", :class => "col-xs-12 port-img"%>
		</a>
		
	
		<!-- <h4>
			The network for your creative identity · Raised money, designed the UI and the application. Managed the development team, conducted interviews and successfully launched an MVP.
		</h4> -->
	</div>
 </div>

</div>






