<body class="index-body">
	
<div class="container col-md-12 center-block">
	<h1>Portfolio</h1>
 <div class="row port-row" style="margin-top:20px;">
	<div class="col-md-6 portfolio-block">
		<a href="http://cools.com/">
			<%= image_tag "cools.png", :class => "col-xs-12"%>
		</a>
	</div>
	<div class="col-md-6">
		<h1>Cools</h1>
		<h4>Javascript - Backbone - Node</h4>
		<h4>Built responsive web pages with twitter bootstrap, html. and sass. Structured handlebar templates and managed backbone client side code on the front end.</h4>
	</div>
 </div>
 <div class="row port-row">
	<div class="col-md-6 portfolio-block">
		<a href="http://www.puckermob.com/">
			<%= image_tag "puckermob.png", :class => "col-xs-12"%>
		</a>
	</div>
	<div class="col-md-6">
		<h1>Puckermob</h1>
		<h4>PHP - Javascript - React - Mysql</h4>
		<h4>
			Built responsive web pages and react components. 
            Built and managed virtual servers hosted on digital ocean transitioning app from dedicated server.
            Managed mysql database and transition into a new code base.
            Implemented redis for caching static files. 

		</h4>
	</div>
 </div>
 <div class="row port-row">
	<div class="col-md-6 portfolio-block"  >
		<a href="http://www.dezzmo.com">
			<%= image_tag "dezzmo.png", :class => "col-xs-12"%>
		</a>
	</div>
	<div class="col-md-6">
		<h1>Dezzmo</h1>
		<h4>Full-Stack Ruby on Rails</h4>
		<h4>
			The network for your creative identity · Raised money, designed the UI and the application. Managed the development team, conducted interviews and successfully launched an MVP.
		</h4>
	</div>
 </div>

<div class="row port-row">
	<div class="col-md-6 portfolio-block">
		<a href="http://fuzzy-believe.surge.sh/">
			<%= image_tag "youtubereact.png", :class => "col-xs-12"%>
		</a>
	</div>
	<div class="col-md-6">
		<h1>Youtube Search</h1>
		<h4>React - Redux - Webpack</h4>
		<h4>Built react components, configured webpack, and called on Google Youtube API for data. This was a fun side project as I built this in pure Javascript a few months ago and wanted to rebuild it in react</h4>
	</div>

</div>
<div class="row port-row">
	<div class="col-md-6 portfolio-block">
		<a href="http://truefalse.herokuapp.com/">
			<%= image_tag "backbonegame.png", :class => "col-xs-12"%>
		</a>
	</div>
	<div class="col-md-6">
		<h1>True or False </h1>
		<h4>Backbone JS</h4>
		<h4>Simple true or false trivia game built with Backbone JS. This was a project I worked on while attending General Assembly in New York</h4>
	</div>
</div>
<div class="row port-row">
	<div class="col-md-6 portfolio-block"  >
		
		<a href="http://gotham.herokuapp.com/">
			<%= image_tag "gotham.png", :class => "col-xs-12"%>
		</a>
	</div>
	<div class="col-md-6">
		<h1>Social Network</h1>
		<h4>Full Stack Ruby on Rails</h4>
		<h4>Final Project at General Assembly. This is pretty much a twitter clone with a hand built auth system, posts, and the ability to follow other users to populate a newsfeed</h4>
	</div>
</div>
</div>
</body>