<body id="blog">




<div class="col-md-7 blog_box">

  <div >
      <h2><%= @article.title %></h2>
      <h5>By Palermo Deschamps</h5>
     
      <p class="blog_text"><%= raw(@article.text) %></p>
     
  </div>
  <div class="fb-comments col-md-12" data-href="http://www.pdeschamps.com/articles/<%= @article.id %>" data-numposts="5"></div>
</div>
</div>

<div class="col-md-3 sidebox">
	<h1>Palermo Deschamps</h1>
	<%= image_tag "graphicblue.png", :class => "mugshotblog" %>
	<center style="margin-top:12px;">
	<a href="https://twitter.com/palermo_tweets"><i class="fa fa-twitter-square fa-lg"></i></a>
	<a href="https://github.com/PalermoD"><i class="fa fa-github-square fa-lg whitehub"></i></a>
	<a href="https://www.linkedin.com/in/palermod"><i class="fa fa-linkedin-square fa-lg "></i></a>
	<a href=".google.com/u/0/+PalermoDeschamps"><i class="fa fa-google-plus-square fa-lg"></i></a>
	<p>palermo.deschamps@gmail.com</p>
	</center>
</div>

<div class="col-md-3 sidebox2">
	<h1>Blog Roll</h1>
	
	<% @articles.each do |article| %>
      <h4><%= link_to article.title, article %></h4>
   <% end %>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-561d19ed2311e169"></script>
</body>


