<!DOCTYPE html>
<html>
<head>
  <title>Palermo Deschamps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "81cc587f-d399-4671-a6d5-40ef0b69797e", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>
<%= render 'layouts/header' %>

<%= yield %>
<%= link_to root_path do %>
	<%= image_tag "home-icon.png", :class => "corner-logo" %>
<% end %>

</body>
</html>
