<!DOCTYPE html>
<html>
<head>
  <title>Palermo Deschamps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  
</head>
<body id="content">
<div id="fb-root"></div>

<%= render 'layouts/header' %>


<%= yield %>
<%= link_to root_path do %>
	<%= image_tag "home-icon.png", :class => "corner-logo" %>
<% end %>





</body>
</html>
