<!DOCTYPE html>
<html>
<head>
  <title>PdeschampsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="name"> Palermo A Deschamps</h1>
<h2 class="job">Full Stack Software Engineer</h2>
<%= image_tag "palermod3.png", :class => "mugshot" %>
<div class="social">
	<a href="https://twitter.com/palermo_tweets"><i class="fa fa-twitter-square fa-lg"></i></a>
	<a href="https://github.com/PalermoD"><i class="fa fa-github-square fa-lg"></i></a>
	<a href="https://www.linkedin.com/in/palermod"><i class="fa fa-linkedin-square fa-lg"></i></a>
	<a href=".google.com/u/0/+PalermoDeschamps"><i class="fa fa-google-plus-square fa-lg"></i></a>
	<p>palermo.deschamps@gmail.com</p>
	
</div>
<%= yield %>

</body>
</html>
