<!DOCTYPE html>
<html>
<head>
  <title>PdeschampsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="name"> Palermo A Deschamps</h1>
<h2 class="job">Full Stack Software Engineer</h2>
<%= image_tag "palermod3.png", :class => "mugshot" %>
<%= yield %>

</body>
</html>
